<!DOCTYPE html>
<html>

<head>
    <title>DEAL </title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script type="text/javascript" src="C:/Users/LAM/Desktop/real_estate/app.js"></script>
</head>
<div class ="background"></div> 
<body>
    <p><font face = "Arial"><font color = "white">
    <br></br>
        <b><font size = 8><center><%= message %><br></font size></b>
        <br></br>
        <br></br>
        <br>
	    <input type "text" name = "url" id = "url" placeholder = "Entrer une URL www.leboncoin.fr"/>
        </br>
        <br></br>
        <br></br>
        <br>
        <button type="submit" class="button"><b>COMPARE</b></button>

    </font color></font face></p>
</body>

</html>